name: Build and Release

on:
  push:
    branches: [ master ]
permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release --no-restore

    - name: Publish self-contained exe
      run: dotnet publish -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -o publish

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: NativeTextureExporter
        path: publish/*

    - name: Get Project Version
      id: get_version
      run: |
        $xml = [xml](Get-Content ${{ github.workspace }}/Bannerlord.NativeTextureExporter.csproj)
        Write-Output "VERSION=$($xml.Project.PropertyGroup.Version)" >> $env:GITHUB_OUTPUT
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.get_version.outputs.VERSION }}
        release_name: Release ${{ steps.get_version.outputs.VERSION }}
        draft: false
        prerelease: false

    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/publish/Bannerlord.NativeTextureExporter.exe
        asset_name: Bannerlord.NativeTextureExporter.exe
        asset_content_type: application/octet-stream